.header{
    padding: 5px 120px;
    width: 150px;
    height: 70px;
    /* background-color: #236B8E; */
}

.border{
    padding: 80px 50px;
    width: 400px;
    height: 450px;
    border: 1px solid #236B8E;
    border-radius: 0px;
    /* background-color: #9AC0CD; */
}
.divi{
    padding: 80px 50px;
    width: 400px;
    height: 450px;
    border: 1px solid rgba(255, 255, 255, 0.5) ;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.5); 
}

.btn {
    padding: 10px 40px;
    /* background-color: #236B8E; */
    color: #000;
    font-style: oblique;
    font-weight: bold;
    border-radius: 10px;
}

.textbox{
    padding: 10px 40px;
    /* background-color: #236B8E; */
    color: #000;
    border-radius: 10px;
}
     
::placeholder {
    /* color: #FFFFFF; */
    opacity: 1;
    font-style: oblique;
    font-weight: bold;
}

.word{
    /* color: #FFFFFF; */
    font-style: oblique;
    font-weight: bold;
}

.bottom{
    /* color: #236B8E; */
    font-style: oblique;
    font-weight: bold;
}
body{
    background-image: url(img/bg.jpg);
}