<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/ccbd4d6bc1.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/style.css" />
  <title>NFT Website</title>
</head>
<body>

  <header>
    <div class="container">
      <nav>
        <a href="#" class="brand">NFTCeleb.com</a>
        <ul class="menu">
          <li><a href="{{ url_for('logout') }}">Logout</a></li>
          <li><a href="#">Artworks</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Artists</a></li>          
          <li>
            <a href="#" class="btn btn-primary">Profile</a>
          </li>
        </ul>
        <a href="#" class="btn btn-primary">Profile</a>
        <button class="menu-btn">
          <i class="fas fa-bars"></i>
        </button>
      </nav>
      
      <div class="header-body">
      <div>
        <div>
          <p>
            Every tree in the forest knows about creating value and about reciprocity
          </p>
          <span class="bar"></span>
          <h1>Buy NFTS</h1>
        </div>
        <div>
          <h1>Sell NFTS</h1>
          <span class="bar"></span>
          <p>
            Every tree in the forest knows about creating value and about reciprocity
          </p>
        </div>
        <div class="btn-group">
          <a href="#" class="btn btn-primary">
            Explore
          </a>
          <a href="#" class="btn btn-secondary">
            Learn More
          </a>
        </div>
      </div>
    </div>
      <img src="../static/img/grid1-top.png" class="grid-img" />
    </div>  
  </header>
  
  
    <div class="container">
      <img src="../static/img/grid1-bottom.png" class="grid-img" />
      <section class="services">
       <div class="heading">
         <h2>What we actually do?</h2>
         <p>
            NFT's are transforming the way commerce is transacted, contracts are enforced, investments are held, and value is transferred. Every tree in the forest knows about creating value and value is transferred.
         </p>
       </div>
       <div class="cards">
         <div class="card">
           <div class="light"></div>
           <img src="../static/img/wallet.png" alt="wallet"/>
           <h3>Set up your wallet</h3>
           <p>NFT's are transforming the way commerce is transacted</p>
         </div>
         <div class="card">
           <div class="light"></div>
           <img src="../static/img/camera.png" alt="wallet"/>
           <h3>Create your collection</h3>
           <p>NFT's are transforming the way commerce is transacted</p>
         </div>
         <div class="card">
           <div class="light"></div>
           <img src="../static/img/gift.png" alt="wallet"/>
           <h3>Add your NFTS</h3>
           <p>NFT's are transforming the way commerce is transacted</p>
         </div>
       </div>
      </section>
      
      <section class="featured">
        <div class="heading">
          <h2>Featured Artworks</h2>
        </div>
        <div class="cards">
          <div class="card">
            <img class="art-img" src="../static/img/crystal1.jpg" alt="artwork"/>
            <div class="light"></div>
            <h3 class="art-title">Blue Color Crystal</h3>
            <div class="favourites">
              <div>
                <img src="../static/img/user1.jpg" alt="artwork"/>
                <img src="../static/img/user2.jpg" alt="artwork"/>
                <img src="../static/img/user3.jpg" alt="artwork"/>
                <small>
                  2+
                </small>
              </div>
              <div>
                <span>Favourite This</span>
              </div>
            </div>
            <div class="bid">
              <div>
                <p>Current Bid</p>
                <h3>
                  <i class="fab fa-ethereum"></i>
                  2.65ETH
                </h3>
              </div>
              <div>
                <p>Ends In</p>
                <h3>10H.33M</h3>
              </div>
            </div>
          </div>
          <div class="card">
            <img class="art-img" src="../static/img/crystal2.jpg" alt="artwork"/>
            <div class="light"></div>
            <h3 class="art-title">Orange Color Crystal</h3>
            <div class="favourites">
              <div>
                <img src="../static/img/user1.jpg" alt="artwork"/>
                <img src="../static/img/user2.jpg" alt="artwork"/>
                <img src="../static/img/user3.jpg" alt="artwork"/>
                <small>
                  2+
                </small>
              </div>
              <div>
                <span>Favourite This</span>
              </div>
            </div>
            <div class="bid">
              <div>
                <p>Current Bid</p>
                <h3>
                  <i class="fab fa-ethereum"></i>
                  2.65ETH
                </h3>
              </div>
              <div>
                <p>Ends In</p>
                <h3>10H.33M</h3>
              </div>
            </div>
          </div>
          <div class="card">
            <img class="art-img" src="../static/img/crystal3.jpg" alt="artwork"/>
            <div class="light"></div>
            <h3 class="art-title">Green Color Crystal</h3>
            <div class="favourites">
              <div>
                <img src="../static/img/user1.jpg" alt="artwork"/>
                <img src="../static/img/user2.jpg" alt="artwork"/>
                <img src="../staic/img/user3.jpg" alt="artwork"/>
                <small>
                  2+
                </small>
              </div>
              <div>
                <span>Favourite This</span>
              </div>
            </div>
            <div class="bid">
              <div>
                <p>Current Bid</p>
                <h3>
                  <i class="fab fa-ethereum"></i>
                  2.65ETH
                </h3>
              </div>
              <div>
                <p>Ends In</p>
                <h3>10H.33M</h3>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <section class="explore">
        <div class="grid">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div>
          <h2>
            Explore our top art works
          </h2>
          <p>
            NFT's are transforming the way commerce is transacted, contracts are enforced, investments are held, and value is transferred. Every tree in the forest knows about creating value and value is transferred.
          </p>
          <div class="stats">
            <div>
              <small>Artworks</small>
              <h3>1305K</h3>
              <p>NFT's are transforming the way commerce</p>
            </div>
            <div>
              <small>Users</small>
              <h3>505K</h3>
              <p>NFT's are transforming the way commerce</p>
            </div>
          </div>
        </div>
      </section>
      
      <section class="artists">
        <div class="heading">
          <h2>Our top artists</h2>
          <p>
            NFT's are transforming the way commerce is transacted, contracts are enforced, investments are held, and value is transferred. Every tree in the forest knows about creating value and value is transferred.
          </p>
        </div> 
        <div class="cards">
          <div class="card">
            <img src="../static/img/smoke1.jpg" class="bg-img" />
            <img src="../static/img/user1.jpg" class="profile-img" />
            <h3>Esther Howard</h3>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <span>
                5.0
              </span>
            </div>
            <p>
              NFT's are transforming the way commerce
            </p>
            <button class="card-btn">
              Follow
            </button>
          </div>
           <div class="card">
            <img src="../static/img/smoke2.jpg" class="bg-img" />
            <img src="../static/img/user2.jpg" class="profile-img" />
            <h3>Jane Cooper</h3>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <span>
                5.0
              </span>
            </div>
            <p>
              NFT's are transforming the way commerce
            </p>
            <button class="card-btn">
              Follow
            </button>
          </div>
           <div class="card">
            <img src="../static/img/smoke3.jpg" class="bg-img" />
            <img src="../static/img/user3.jpg" class="profile-img" />
            <h3>Wade Warren</h3>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <span>
                5.0
              </span>
            </div>
            <p>
              NFT's are transforming the way commerce
            </p>
            <button class="card-btn">
              Follow
            </button>
          </div>
           <div class="card">
            <img src="../static/img/smoke4.jpg" class="bg-img" />
            <img src="../static/img/user4.jpg" class="profile-img" />
            <h3>Jenny Wilson</h3>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <span>
                5.0
              </span>
            </div>
            <p>
              NFT's are transforming the way commerce
            </p>
            <button class="card-btn">
              Follow
            </button>
          </div>
        </div>
      </section>
    </div>
    
    <section class="trial" style="border: none;">
      <iframe src="../static/graph.html" height="300px" width="600px" scrolling="no"></iframe>
    </section>
    
    <div class="container">
      <footer>
        <div>
          <h2>Digital Agency</h2>
          <p>NFT's are transforming the way commece is transacted</p>
          <hr />
          <h3>Get our latest updates</h3>
          <form>
            <div class="input-wrap">
              <input type="email" placeholder="Enter Your Email"/>
              <button type="submit" class="btn btn-primary">Send</button>
            </div>
          </form>
        </div>
        <div>
          <h3>Quick Links</h3>
          <ul>
            <li><a href="#">Protocol Explore</a></li>
            <li><a href="#">System Token</a></li>
            <li><a href="#">Optimize Time</a></li>
            <li><a href="#">Visual Checking</a></li>
            <li><a href="#">Activity Log</a></li>
            <li><a href="#">System Auto Since</a></li>
          </ul>
        </div>
        <div>
          <h3>Information</h3>
          <ul>
            <li><a href="#">Market Explore</a></li>
            <li><a href="#">Ready Token</a></li>
            <li><a href="#">Main Option</a></li>
            <li><a href="#">File Checking</a></li>
            <li><a href="#">Blog Grid</a></li>
            <li><a href="#">Fix Bug</a></li>
          </ul>
        </div>
        <div>
          <h3>Company</h3>
          <ul>
            <li><a href="#">Upload Files</a></li>
            <li><a href="#">Marketplace</a></li>
            <li><a href="#">Item Details</a></li>
            <li><a href="#">Recent Activity</a></li>
            <li><a href="#">Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
        <div>
          <h3>Social Media</h3>
          <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Linkedin</a></li>
            <li><a href="#">Whatsapp</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Telegram</a></li>
          </ul>
        </div>
      </footer>
    </div>
  
  
  <script src="../static/main.js"></script>
</body>
</html>